<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Icecat_DataFeed::icecat_report" title="Icecat Report" module="Icecat_DataFeed" parent="Magento_Reports::report" sortOrder="100" resource="Magento_Backend::content" />
        <add id="Icecat_DataFeed::queue_report" title="Icecat Queue Report" module="Icecat_DataFeed" parent="Icecat_DataFeed::icecat_report" action="icecat/report/QueueReport" resource="Icecat_DataFeed::report"/>
        <add id="Icecat_DataFeed::queue_log_report" title="Icecat Queue Log Report" module="Icecat_DataFeed" parent="Icecat_DataFeed::icecat_report" action="icecat/report/QueueLogReport" resource="Icecat_DataFeed::report"/>
    </menu>
</config>
