<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <datafeed>
            <general>
                <enable>0</enable>
            </general>
            <product_attributes>
                <icecat_categorization>
                    <status>0</status>
                    <include_in_menu>0</include_in_menu>
                </icecat_categorization>
                <media>
                    <import_images>0</import_images>
                    <import_videos>0</import_videos>
                    <import_pdf>0</import_pdf>
                </media>
                <specification>
                    <import_specification>0</import_specification>
                    <specification_header_color>#EEF1FA</specification_header_color>
                </specification>
                <other_fields>
                    <import_related_products>0</import_related_products>
                    <import_product_stories>0</import_product_stories>
                    <import_product_reviews>0</import_product_reviews>
                    <import_reasons_to_buy>0</import_reasons_to_buy>
                    <import_bullet_points>0</import_bullet_points>
                </other_fields>
            </product_attributes>
            <icecat_brands>
                <icecat_brands_selections>0</icecat_brands_selections>
            </icecat_brands>
        </datafeed>
    </default>
</config>
